.scale {
  position: relative;
  width: 40px;
  height: 147px;
  background: url('../../assets/scale.png') center/cover no-repeat;
  margin-right: 27px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.scale-energy {
  position: absolute;
  bottom: 4px;
  width: 32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00d355;
  border-radius: 3px;
  transition: height 0.1s linear;
  z-index: 1;
  height: 0px;
}

.scale-energy::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;

  transition: all 0.1s linear;
  bottom: var(--after-bottom, -1px);
}

.scale-white-half {
  top: 4px;
  position: absolute;
  width: 14px;
  left: 4px;
  background-color: #ffffff;
  opacity: 40%;
  height: 139px;
  z-index: 2;
  pointer-events: none;
}

.scale-lines {
  position: absolute;
  background: url('../../assets/scale-1.png') center/cover no-repeat;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}
