.measure-levels {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  position: absolute;
  left: 49%;
  transform: translate(-50%);
  bottom: 4px;
  width: 74px;
}

.level-item {
  position: relative;
  width: 74px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.level {
  position: relative;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease;
}

.level-item--1 {
  height: 46px;
}

.level-item--2 {
  height: 41px;
}

.level-item--3 {
  height: 36px;
}

.level-item--4 {
  height: 31px;
}

.level-item--5 {
  height: 26px;
}

.level-item--6 {
  height: 21px;
}

.level-item--7 {
  height: 16px;
}

.level::before,
.level::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.level::before {
  top: 0;
  left: 0;
}

.level::after {
  width: 3px;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - 4px);
}

.level--1 {
  background: #254b9d;
}

.level--2 {
  background: #3a5ca5;
}

.level--3 {
  background: #5878be;
}

.level--4 {
  background: #7593d6;
}

.level--5 {
  background: #94aadc;
}

.level--6 {
  background: #b7c8ed;
}

.level--7 {
  background: #d1defb;
  border: unset;
  border-radius: 4px 4px 0 0;
}

.level--1.hit {
  background: #00b047;
}

.level--2.hit {
  background: #00d355;
}

.level--3.hit {
  background: #91e508;
}

.level--4.hit {
  background: #ffdf35;
}

.level--5.hit {
  background: #ffae4e;
}

.level--6.hit {
  background: #ff784e;
}

.level--7.hit {
  background: #f65a5a;
}

.level {
  position: relative;
  overflow: hidden;
}

.level::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 2px;
  width: calc(100% - 3px);
  height: 3px;
  z-index: 1;
}

.level::after,
.level .level__corner {
  z-index: 2;
}
