.App {
  text-align: center;
  position: relative;
}

.App-container {
  position: relative;
  width: 360px;
  height: 640px;
  margin: 0 auto;
  background-image: url("../src/assets/bg_top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%; /* 80% от верха, можно подобрать */
  /* или сместить на определенное количество пикселей */
  background-position: center 80px; /* 50px от верха */
}

.controllers {
  display: flex;
  position: absolute;
  align-items: flex-end;
  bottom: 28px;
  right: 13px;
}

.App-interactive-block {
  margin-right: 11px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 172px;
}

.App-interactive-block--win {
  display: none;
  gap: 1px;
}

.App-interactive-block {
  text-align: center;
}

.App-interactive-block--hidden {
  visibility: hidden;
}
